@font-face {
    font-family: "icons";
    src: url("./icons.woff?9d51fe8a326910ef2b227d8eb58b2cef") format("woff"),
url("./icons.woff2?9d51fe8a326910ef2b227d8eb58b2cef") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-add_location_icon:before {
    content: "\f101";
}
.icon-add_memberIcon:before {
    content: "\f102";
}
.icon-add_ownerIcon:before {
    content: "\f103";
}
.icon-add_personIcon:before {
    content: "\f104";
}
.icon-add_phoneIcon:before {
    content: "\f105";
}
.icon-add_quickBooksIcon_black:before {
    content: "\f106";
}
.icon-add_quickBooksIcon:before {
    content: "\f107";
}
.icon-add_socialLinks:before {
    content: "\f108";
}
.icon-add_walletIcon_1:before {
    content: "\f109";
}
.icon-add_walletIcon_2:before {
    content: "\f10a";
}
.icon-antenna:before {
    content: "\f10b";
}
.icon-arrow1:before {
    content: "\f10c";
}
.icon-arrow10:before {
    content: "\f10d";
}
.icon-arrow11:before {
    content: "\f10e";
}
.icon-arrow12:before {
    content: "\f10f";
}
.icon-arrow13:before {
    content: "\f110";
}
.icon-arrow14:before {
    content: "\f111";
}
.icon-arrow15:before {
    content: "\f112";
}
.icon-arrow16:before {
    content: "\f113";
}
.icon-arrow17:before {
    content: "\f114";
}
.icon-arrow18:before {
    content: "\f115";
}
.icon-arrow19:before {
    content: "\f116";
}
.icon-arrow2:before {
    content: "\f117";
}
.icon-arrow20:before {
    content: "\f118";
}
.icon-arrow21:before {
    content: "\f119";
}
.icon-arrow22:before {
    content: "\f11a";
}
.icon-arrow23:before {
    content: "\f11b";
}
.icon-arrow24:before {
    content: "\f11c";
}
.icon-arrow25:before {
    content: "\f11d";
}
.icon-arrow26:before {
    content: "\f11e";
}
.icon-arrow27:before {
    content: "\f11f";
}
.icon-arrow28:before {
    content: "\f120";
}
.icon-arrow29:before {
    content: "\f121";
}
.icon-arrow3:before {
    content: "\f122";
}
.icon-arrow30:before {
    content: "\f123";
}
.icon-arrow31:before {
    content: "\f124";
}
.icon-arrow32:before {
    content: "\f125";
}
.icon-arrow33:before {
    content: "\f126";
}
.icon-arrow34:before {
    content: "\f127";
}
.icon-arrow35:before {
    content: "\f128";
}
.icon-arrow36:before {
    content: "\f129";
}
.icon-arrow37:before {
    content: "\f12a";
}
.icon-arrow38:before {
    content: "\f12b";
}
.icon-arrow39:before {
    content: "\f12c";
}
.icon-arrow4:before {
    content: "\f12d";
}
.icon-arrow40:before {
    content: "\f12e";
}
.icon-arrow41:before {
    content: "\f12f";
}
.icon-arrow42:before {
    content: "\f130";
}
.icon-arrow43:before {
    content: "\f131";
}
.icon-arrow44:before {
    content: "\f132";
}
.icon-arrow45:before {
    content: "\f133";
}
.icon-arrow46:before {
    content: "\f134";
}
.icon-arrow47:before {
    content: "\f135";
}
.icon-arrow48:before {
    content: "\f136";
}
.icon-arrow49:before {
    content: "\f137";
}
.icon-arrow5:before {
    content: "\f138";
}
.icon-arrow50:before {
    content: "\f139";
}
.icon-arrow51:before {
    content: "\f13a";
}
.icon-arrow52:before {
    content: "\f13b";
}
.icon-arrow53:before {
    content: "\f13c";
}
.icon-arrow54:before {
    content: "\f13d";
}
.icon-arrow55:before {
    content: "\f13e";
}
.icon-arrow56:before {
    content: "\f13f";
}
.icon-arrow57:before {
    content: "\f140";
}
.icon-arrow58:before {
    content: "\f141";
}
.icon-arrow59:before {
    content: "\f142";
}
.icon-arrow6:before {
    content: "\f143";
}
.icon-arrow60:before {
    content: "\f144";
}
.icon-arrow61:before {
    content: "\f145";
}
.icon-arrow62:before {
    content: "\f146";
}
.icon-arrow63:before {
    content: "\f147";
}
.icon-arrow64:before {
    content: "\f148";
}
.icon-arrow65:before {
    content: "\f149";
}
.icon-arrow66:before {
    content: "\f14a";
}
.icon-arrow67:before {
    content: "\f14b";
}
.icon-arrow68:before {
    content: "\f14c";
}
.icon-arrow69:before {
    content: "\f14d";
}
.icon-arrow7:before {
    content: "\f14e";
}
.icon-arrow70:before {
    content: "\f14f";
}
.icon-arrow71:before {
    content: "\f150";
}
.icon-arrow72:before {
    content: "\f151";
}
.icon-arrow73:before {
    content: "\f152";
}
.icon-arrow74:before {
    content: "\f153";
}
.icon-arrow75:before {
    content: "\f154";
}
.icon-arrow76:before {
    content: "\f155";
}
.icon-arrow77:before {
    content: "\f156";
}
.icon-arrow78:before {
    content: "\f157";
}
.icon-arrow79:before {
    content: "\f158";
}
.icon-arrow8:before {
    content: "\f159";
}
.icon-arrow9:before {
    content: "\f15a";
}
.icon-badge:before {
    content: "\f15b";
}
.icon-bag:before {
    content: "\f15c";
}
.icon-bag2:before {
    content: "\f15d";
}
.icon-bakelitedisk:before {
    content: "\f15e";
}
.icon-bankcard:before {
    content: "\f15f";
}
.icon-battery1:before {
    content: "\f160";
}
.icon-battery2:before {
    content: "\f161";
}
.icon-battery3:before {
    content: "\f162";
}
.icon-battery4:before {
    content: "\f163";
}
.icon-battery5:before {
    content: "\f164";
}
.icon-battery6:before {
    content: "\f165";
}
.icon-battery7:before {
    content: "\f166";
}
.icon-behance:before {
    content: "\f167";
}
.icon-bell:before {
    content: "\f168";
}
.icon-birdpen:before {
    content: "\f169";
}
.icon-blogger:before {
    content: "\f16a";
}
.icon-brush:before {
    content: "\f16b";
}
.icon-calculator:before {
    content: "\f16c";
}
.icon-calendar:before {
    content: "\f16d";
}
.icon-camera:before {
    content: "\f16e";
}
.icon-camera2:before {
    content: "\f16f";
}
.icon-camera3:before {
    content: "\f170";
}
.icon-camera4:before {
    content: "\f171";
}
.icon-cart:before {
    content: "\f172";
}
.icon-cart2:before {
    content: "\f173";
}
.icon-cart3:before {
    content: "\f174";
}
.icon-cart31:before {
    content: "\f175";
}
.icon-cart32:before {
    content: "\f176";
}
.icon-chat1:before {
    content: "\f177";
}
.icon-chat2:before {
    content: "\f178";
}
.icon-classictelephone:before {
    content: "\f179";
}
.icon-clock:before {
    content: "\f17a";
}
.icon-cordlessscrewdriver:before {
    content: "\f17b";
}
.icon-cpu:before {
    content: "\f17c";
}
.icon-deviantart:before {
    content: "\f17d";
}
.icon-diagram:before {
    content: "\f17e";
}
.icon-diagram2:before {
    content: "\f17f";
}
.icon-digg:before {
    content: "\f180";
}
.icon-download1:before {
    content: "\f181";
}
.icon-download2:before {
    content: "\f182";
}
.icon-drbag:before {
    content: "\f183";
}
.icon-dribbble:before {
    content: "\f184";
}
.icon-email:before {
    content: "\f185";
}
.icon-email2:before {
    content: "\f186";
}
.icon-emoticon1:before {
    content: "\f187";
}
.icon-emoticon10:before {
    content: "\f188";
}
.icon-emoticon11:before {
    content: "\f189";
}
.icon-emoticon12:before {
    content: "\f18a";
}
.icon-emoticon13:before {
    content: "\f18b";
}
.icon-emoticon14:before {
    content: "\f18c";
}
.icon-emoticon15:before {
    content: "\f18d";
}
.icon-emoticon16:before {
    content: "\f18e";
}
.icon-emoticon17:before {
    content: "\f18f";
}
.icon-emoticon18:before {
    content: "\f190";
}
.icon-emoticon19:before {
    content: "\f191";
}
.icon-emoticon2:before {
    content: "\f192";
}
.icon-emoticon20:before {
    content: "\f193";
}
.icon-emoticon21:before {
    content: "\f194";
}
.icon-emoticon22:before {
    content: "\f195";
}
.icon-emoticon23:before {
    content: "\f196";
}
.icon-emoticon24:before {
    content: "\f197";
}
.icon-emoticon25:before {
    content: "\f198";
}
.icon-emoticon26:before {
    content: "\f199";
}
.icon-emoticon3:before {
    content: "\f19a";
}
.icon-emoticon4:before {
    content: "\f19b";
}
.icon-emoticon5:before {
    content: "\f19c";
}
.icon-emoticon6:before {
    content: "\f19d";
}
.icon-emoticon7:before {
    content: "\f19e";
}
.icon-emoticon8:before {
    content: "\f19f";
}
.icon-emoticon9:before {
    content: "\f1a0";
}
.icon-evernote:before {
    content: "\f1a1";
}
.icon-eye:before {
    content: "\f1a2";
}
.icon-facebook:before {
    content: "\f1a3";
}
.icon-feedback:before {
    content: "\f1a4";
}
.icon-feedback2:before {
    content: "\f1a5";
}
.icon-feedback3:before {
    content: "\f1a6";
}
.icon-flickr:before {
    content: "\f1a7";
}
.icon-floppydisk:before {
    content: "\f1a8";
}
.icon-gamepad:before {
    content: "\f1a9";
}
.icon-gift:before {
    content: "\f1aa";
}
.icon-gold1:before {
    content: "\f1ab";
}
.icon-gold2:before {
    content: "\f1ac";
}
.icon-gold3:before {
    content: "\f1ad";
}
.icon-gold4:before {
    content: "\f1ae";
}
.icon-gold5:before {
    content: "\f1af";
}
.icon-gplus:before {
    content: "\f1b0";
}
.icon-hammer:before {
    content: "\f1b1";
}
.icon-headphone:before {
    content: "\f1b2";
}
.icon-heart:before {
    content: "\f1b3";
}
.icon-home:before {
    content: "\f1b4";
}
.icon-house:before {
    content: "\f1b5";
}
.icon-imac:before {
    content: "\f1b6";
}
.icon-ipod:before {
    content: "\f1b7";
}
.icon-judicialgavel:before {
    content: "\f1b8";
}
.icon-keyboard:before {
    content: "\f1b9";
}
.icon-lamp:before {
    content: "\f1ba";
}
.icon-laptop:before {
    content: "\f1bb";
}
.icon-lecturer:before {
    content: "\f1bc";
}
.icon-linkedin:before {
    content: "\f1bd";
}
.icon-location_icon:before {
    content: "\f1be";
}
.icon-map1:before {
    content: "\f1bf";
}
.icon-map2:before {
    content: "\f1c0";
}
.icon-map3:before {
    content: "\f1c1";
}
.icon-mic1:before {
    content: "\f1c2";
}
.icon-mic2:before {
    content: "\f1c3";
}
.icon-money1:before {
    content: "\f1c4";
}
.icon-money2:before {
    content: "\f1c5";
}
.icon-money3:before {
    content: "\f1c6";
}
.icon-money4:before {
    content: "\f1c7";
}
.icon-moneybag:before {
    content: "\f1c8";
}
.icon-moneypig:before {
    content: "\f1c9";
}
.icon-monitor:before {
    content: "\f1ca";
}
.icon-mouse:before {
    content: "\f1cb";
}
.icon-nocloud:before {
    content: "\f1cc";
}
.icon-padlock1:before {
    content: "\f1cd";
}
.icon-padlock2:before {
    content: "\f1ce";
}
.icon-paintcylinder:before {
    content: "\f1cf";
}
.icon-pen:before {
    content: "\f1d0";
}
.icon-pencil:before {
    content: "\f1d1";
}
.icon-personIcon_1:before {
    content: "\f1d2";
}
.icon-personIcon:before {
    content: "\f1d3";
}
.icon-pinterest:before {
    content: "\f1d4";
}
.icon-pipette:before {
    content: "\f1d5";
}
.icon-polaroid:before {
    content: "\f1d6";
}
.icon-portrait-solid:before {
    content: "\f1d7";
}
.icon-presentation:before {
    content: "\f1d8";
}
.icon-printer:before {
    content: "\f1d9";
}
.icon-projector:before {
    content: "\f1da";
}
.icon-push:before {
    content: "\f1db";
}
.icon-quickBooksIcon_black:before {
    content: "\f1dc";
}
.icon-quickBooksIcon:before {
    content: "\f1dd";
}
.icon-radio:before {
    content: "\f1de";
}
.icon-register:before {
    content: "\f1df";
}
.icon-registration:before {
    content: "\f1e0";
}
.icon-safe:before {
    content: "\f1e1";
}
.icon-scissors:before {
    content: "\f1e2";
}
.icon-screwdriver:before {
    content: "\f1e3";
}
.icon-search1:before {
    content: "\f1e4";
}
.icon-search2:before {
    content: "\f1e5";
}
.icon-search3:before {
    content: "\f1e6";
}
.icon-setting1:before {
    content: "\f1e7";
}
.icon-setting2:before {
    content: "\f1e8";
}
.icon-setting3:before {
    content: "\f1e9";
}
.icon-shop:before {
    content: "\f1ea";
}
.icon-skype:before {
    content: "\f1eb";
}
.icon-socialLinks:before {
    content: "\f1ec";
}
.icon-soundcloud:before {
    content: "\f1ed";
}
.icon-speaker1:before {
    content: "\f1ee";
}
.icon-speaker2:before {
    content: "\f1ef";
}
.icon-speaker3:before {
    content: "\f1f0";
}
.icon-speaker4:before {
    content: "\f1f1";
}
.icon-star1:before {
    content: "\f1f2";
}
.icon-star2:before {
    content: "\f1f3";
}
.icon-star3:before {
    content: "\f1f4";
}
.icon-telephone:before {
    content: "\f1f5";
}
.icon-theme:before {
    content: "\f1f6";
}
.icon-trash:before {
    content: "\f1f7";
}
.icon-tv:before {
    content: "\f1f8";
}
.icon-twitter1:before {
    content: "\f1f9";
}
.icon-twitter2:before {
    content: "\f1fa";
}
.icon-upload1:before {
    content: "\f1fb";
}
.icon-upload2:before {
    content: "\f1fc";
}
.icon-usb1:before {
    content: "\f1fd";
}
.icon-usb2:before {
    content: "\f1fe";
}
.icon-user1:before {
    content: "\f1ff";
}
.icon-user2:before {
    content: "\f200";
}
.icon-user3:before {
    content: "\f201";
}
.icon-users:before {
    content: "\f202";
}
.icon-vimeo:before {
    content: "\f203";
}
.icon-vlc:before {
    content: "\f204";
}
.icon-vote:before {
    content: "\f205";
}
.icon-walletIcon_1:before {
    content: "\f206";
}
.icon-weather1:before {
    content: "\f207";
}
.icon-weather10:before {
    content: "\f208";
}
.icon-weather11:before {
    content: "\f209";
}
.icon-weather12:before {
    content: "\f20a";
}
.icon-weather13:before {
    content: "\f20b";
}
.icon-weather14:before {
    content: "\f20c";
}
.icon-weather15:before {
    content: "\f20d";
}
.icon-weather16:before {
    content: "\f20e";
}
.icon-weather17:before {
    content: "\f20f";
}
.icon-weather18:before {
    content: "\f210";
}
.icon-weather19:before {
    content: "\f211";
}
.icon-weather2:before {
    content: "\f212";
}
.icon-weather20:before {
    content: "\f213";
}
.icon-weather21:before {
    content: "\f214";
}
.icon-weather22:before {
    content: "\f215";
}
.icon-weather23:before {
    content: "\f216";
}
.icon-weather24:before {
    content: "\f217";
}
.icon-weather25:before {
    content: "\f218";
}
.icon-weather26:before {
    content: "\f219";
}
.icon-weather3:before {
    content: "\f21a";
}
.icon-weather4:before {
    content: "\f21b";
}
.icon-weather5:before {
    content: "\f21c";
}
.icon-weather6:before {
    content: "\f21d";
}
.icon-weather7:before {
    content: "\f21e";
}
.icon-weather8:before {
    content: "\f21f";
}
.icon-weather9:before {
    content: "\f220";
}
.icon-webcam:before {
    content: "\f221";
}
.icon-wrench1:before {
    content: "\f222";
}
.icon-wrench2:before {
    content: "\f223";
}
.icon-youtube:before {
    content: "\f224";
}
